@import url(http://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Lora);
/* ======================css reset starts here========================= */



* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-size: 100%;
text-decoration:none;
border:none;
}

/*For non html5 browser*/
header, section, footer, aside, nav, main, article, figure {
display: block;
}


/*  ======================css reset ends here========================== */

/*  ======================css skelton========================== */

html, body {
font-family: Nunito;
background-color: #ffffff;
margin:0px;
padding: 0px;
overflow-x:hidden;
text-align: center;
}

.wrapper {
position: relative;
top: 0;
width: 80%;
margin: 0 auto;
height: 100%;
background-color:#C4C093;
height:900px;
text-align: center;
}

nav{


}

nav ol{
   list-style-type: none;
}

nav ol li {
   float:left;

}

.clear{
   clear:both;
}
a{
  display:block;
   padding:10px;
   margin:5px;
   width:100px;
   text-align: center;

}

a:hover{
   background: white;
   color:black;

}

main{
   float:left;
   width:70%;
   background-color: #253620;
   color:white;
   padding:20px;
   margin: 0 auto;
   height:700px;
}

aside{
   float:left;
   background-color: #903620;
   color:white;
   padding:20px;
   margin: 0 auto;
   width:30%;
   height:700px;
}

footer{
   background-color: #259020;
   color:white;
   padding:20px;
   margin: 0 auto;
}