@import url(http://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Lora);
/* ======================css reset starts here========================= */



* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-size: 100%;
text-decoration:none;
border:none;
}

/*For non html5 browser*/
header, section, footer, aside, nav, main, article, figure {
display: block;
}


/*  ======================css reset ends here========================== */

/*  ======================css skelton========================== */

html, body {
font-family: Nunito;
background-color: #ffffff;
margin:0px;
padding: 0px;
overflow-x:hidden;
}

.wrapper {
position: relative;
top: 0;
width: 90%;
margin: 0 auto;
height: 100%;
background-color:#BDC1F6
}
canvas {
   width:300px;
   height:300px;
   border: 1px solid black;
   display:inline;
}

h1 {
font-weight: bold;
font-size: 20px;
padding:3px;
margin:5px;
}

.mainPageLink {
   position:absolute;
   top:5px;
   right:5px;
}
.canvas-wrapper {
   width: 320px;
   margin:10px;
   text-align: center;
   display: inline-block;
   overflow:hidden;
}
.info {
text-align: center;
font:"bold 20px Tahoma";
}

.svg-wrapper {
   width: 320px;
   margin:10px;
   text-align: center;
   display: inline-block;
   overflow:hidden;
}
