
.wrapper {
   background-color: #FFFF99 ;
   width: 90%;
   margin: 0 auto;
   position:  relative;
}

header {
      border: 2px solid grey;
      height: 150px;
      color:   #0000FF;
      position: relative;
}

nav  {
   text-align: center;
   height: 50px;
   position: absolute;
   bottom: 0px;
   width: 100%;
   border: 1px solid grey;
}

section {
   height: 4000px;
   border: 2px solid grey;
}


h1, h2 {
   text-align: center;
}

article {
border : 1px solid grey;
}

article:nth-child(even){
   background-color: #F0DC82;
}

footer {
   text-align: center;
   height: 300px;
   border: 1px solid black;
   width: 100%;
}

.code {
     font-weight: bold;
}

 ul > li {
   display: inline-block;
   list-style: none;
   float: left;
   width: 15%;
   height: 20px;
}

li > a {
   text-decoration: none;

}

li > a:hover {
background-color: grey;
}