@import 'https://fonts.googleapis.com/css?family=Dancing+Script';

* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-size: 100%;
text-decoration:none;
border:none;
}

/*For non html5 browser*/
header, section, footer, aside, nav, main, article, figure {
display: block;
}

body{
font-family: 'Dancing Script', cursive;
}

.wrapper {
	width:  90%;
	border: 1px solid #C0C0C0;
	margin:  0 auto;
}

.tablewrapper {
	border:  1px solid black;
	padding: 10px;
}

.table{
}

.description {
	border:  1px solid green;
	width: 40%;
	text-align: center;
	margin:  10px;
}

#t1 {

}