@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';

* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-size: 100%;
font-family: 'Roboto Condensed', sans-serif;;
}

a {
   text-decoration:none;
}

*, *:before, *:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
    }

body {
   width:  100%;
}

.wrapper {
   border: 1px solid black;
   width: 80%;
   margin: 10px  auto;
}

header {
   border: 0px solid black;
}

.header-right {
   width: 50%;
   border: 0px solid black;
   padding: 5px;
   float: left;
}

header img {
   width: 150px;
   height: 150px;
   margin: 0px;
}

header p {
   margin: 0px;
   padding: 0px 25px;
   position: absolute;
   top:  125px;
}

.header-left {
   width: 30%;
   float: right;
   border: 0px solid green;
   padding: 50px 0px;
}

.searchText {
   margin: 5px;
}
.searchButton {
   margin:5px;
}

nav {
   clear:both;
   border: 0px solid black;
}

nav ol {
   padding: 0px;
   margin: 0px;
}


nav li {
   list-style-type: none;
   float:left;
   width:25%;
   margin:0px;
   text-align: center;
   background-color: #369 ;
   color: white;
   padding: 7px 0px;
}

li a {
   color: white;
   display: block;
}

a:hover {
   background-color: white;
   color: #369 ;
}

section {
   width: 70%;
   float:left;
   border: 1px solid black;

}

section article {
   width: 95%;
/*   height: 780px;*/
   background-color: #66cccc;
   margin: 10px auto;
}

.element_desc {
   text-align: center;
}

aside article {
   width: 95%;
/*   height: 780px;*/
   background-color: #66cccc;
   margin: 10px auto;
}

.html_elements {
   text-align:center;
   padding: 5px;
   font-size: 25px;
}

.element_desc {
padding: 5px;
margin:5px;
}

.code_result {
   padding: 5px;
   margin: 5px;
   border: 0px solid #369;
}

.code {
   margin: 5px;
   padding:5px;
   background-color: white;
   border-radius: 10px;
}

.result {
   margin: 5px;
   padding: 5px;
}

aside {
   width: 30%;
   float:right;
   border: 0px solid black;
}

aside p {
   padding:  5px;
   margin:  5px;
}

aside h2 {
       padding:  5px;
       margin:  5px;
       font-weight: bold;
}

footer {
   clear:both;
   height:50px;
   border: 1px solid black;
}

